.parallex {
  padding: 2em;
  background-image: url('./../../images/acantiladosBuenosAires.jpeg');
  background-size: cover;
  background-attachment: fixed;
}

.form-control {
  display: flex;
  // width: 80%;
}
