.card {
  margin: 2em;
  min-width: 250px;
  max-width: 250px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    transition: opacity 0.2s ease-in-out;
    opacity: 0.85;
  }
}
